[Unit]
Description=Sync SSH Keys from UniFi Network App to UDM
After=udm-tools-install.service
Wants=udm-tools-install.service
Documentation=https://udm-tools.prasadt.com/services

[Service]
Type=oneshot
ExecStart=/sbin/ssh-proxy udmctl sync-ssh-keys
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
