[Unit]
Description=UDM/UDM-Pro Container Hooks
# Require Binaries, Boot hooks and CNI to be available
Requires=udm-tools-install.service udm-tools-install-cni.service udm-tools-boot-hooks.service
After=udm-tools-install.service udm-tools-install-cni.service udm-tools-boot-hooks.service

Documentation=https://udm-tools.prasadt.com/services

[Service]
Type=oneshot
ExecStart=/sbin/ssh-proxy hookctl container invoke-all start
# we deleberately use ExecStopPost because hook service will be in
# failed state if any of the hooks scripts failed or exited with
# non zero code.
ExecStopPost=/sbin/ssh-proxy hookctl container invoke-all stop
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
